<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Добавить новость</title>
  </head>
  <body>
    <a href="/news">назад</a>
    <h2>Можете добавить новость</h2>
    <form method="POST" action="/addNews">
      <label for="title">title</label>
      <input type="text" name="title" value="" id="title">
      <label for="text">text</label>
      <input type="text" name="text" value="" id="text">
      <button type="submit">Отправить</button>
    </form>
  </body>
</html>
