<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Новости</title>
  </head>
  <body>
    <a href="/news">назад</a>
    <h1><%= data.title %></h1>
    <p><%= data.text %></p>
    <a href="/deleteNews/<%= data._id %>">удалить</a>
  </body>
</html>
